<html>
    <head>
    	<title>Rogers's blog</title>
    </head>
    <body>
    <div>
    	<h1>
    		<a href="">
    			Blog Title
    		</a>
    	</h1>
    </div>

    <div>
    	<p>published: Feb/20/2017, 3pm MST</p>
    	<h2><a href="">My first post</a></h2>
    	<p>Some random writing.</p>
    </div>

    <div>
    	<p>published: Feb/20/2017, 3pm MST</p>
    	<h2><a href="">My second post</a></h2>
    	<br />
    	<p>Some <em>random</em> writing <strong>again</strong>.</p>
    </div>

    <ul>
    	<li>Hi there!</li>
    	<li>It works!</li>
    </ul>
    </body>
</html>